.landing {
  background: url(../img/header-bg.jpg.webp) center no-repeat;
  background-size: cover;
}

.story {
  background: url(../img/bg-coffeeBeans.jpg) center no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eee;
  opacity: 70%;
}
